# Get data from TMBD API

In [2]:
%load_ext autoreload
%autoreload 2

## Import packages

In [43]:
import pandas as pd

from bechdelai.data.tmdb import search_movie_from_query
from bechdelai.data.tmdb import get_movie_details_from_id
from bechdelai.data.tmdb import get_movie_cast_from_id
from bechdelai.data.tmdb import format_results_for_suggestion

from bechdelai.data.display import show_movie_suggestions_get_id

## Test API

### Search movie from query

In [37]:
query = "Batman"
data = search_movie_from_query(query)
suggestions = format_results_for_suggestion(data)

In [38]:
movie_id = show_movie_suggestions_get_id(suggestions, top=3, with_cast_url=False, verbose=True)

Select wanted index: 0

ID of the movie: 414906

### Get movie details

In [45]:
%%time
data = get_movie_details_from_id(movie_id)

Wall time: 445 ms

In [47]:
pd.Series(data)

adult                                                                False
backdrop_path                              /IYUD7rAIXzBM91TT3Z5fILUS7n.jpg
belongs_to_collection    {'id': 948485, 'name': 'The Batman Collection'...
budget                                                           185000000
genres                   [{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...
homepage                                         https://www.thebatman.com
id                                                                  414906
imdb_id                                                          tt1877830
original_language                                                       en
original_title                                                  The Batman
overview                 In his second year of fighting crime, Batman u...
popularity                                                         3348.47
poster_path                               /74xTEgt7R36Fpooo50r9T25onhq.jpg
production_companies     [{'id': 101405, 'logo_path': None, 'name': '6t...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    2022-03-01
revenue                                                          600000000
runtime                                                                176
spoken_languages         [{'english_name': 'English', 'iso_639_1': 'en'...
status                                                            Released
tagline                                                  Unmask the truth.
title                                                           The Batman
video                                                                False
vote_average                                                           7.9
vote_count                                                            2169
dtype: object

### Get movie cast and crew

In [49]:
%%time
data = get_movie_cast_from_id(movie_id)

Wall time: 465 ms

In [52]:
pd.DataFrame(data["cast"]).head()

,adult,gender,id,known_for_department,name,original_name,popularity,profile_path,cast_id,character,credit_id,order
0,False,2,11288,Acting,Robert Pattinson,Robert Pattinson,30.463,/9CbfQHyUhJZxWjlVqsdS3I4j9t5.jpg,174,Bruce Wayne / The Batman,607213782f791500769ddac5,0
1,False,1,37153,Acting,Zoë Kravitz,Zoë Kravitz,43.220,/A8Ig9UHh8NSiUGg3xChcoF7749w.jpg,60,Selina Kyle / Catwoman,5da4e941afe2240015eeec00,1
2,False,2,17142,Acting,Paul Dano,Paul Dano,79.982,/hGWZBC5dNrQJkcJ0JuhGp07eG6n.jpg,68,Edward Nashton / The Riddler,5da8ae96b2681f00168df2ec,2
3,False,2,2954,Acting,Jeffrey Wright,Jeffrey Wright,35.994,/npJjOiFiAP4wiRDNjKsO8ho03Mg.jpg,51,Lt. James Gordon,5d89435c172d7f000d4c312d,3
4,False,2,1241,Acting,John Turturro,John Turturro,33.036,/6O9W9cJW0kCqMzYeLupV9oH0ftn.jpg,75,Carmine Falcone,5dd86320ef8b3200128c0eb9,4

In [53]:
pd.DataFrame(data["crew"]).head()

,adult,gender,id,known_for_department,name,original_name,popularity,profile_path,credit_id,department,job
0,False,2,2122,Editing,William Hoy,William Hoy,6.237,/5UoZPWvGDKzUvJfRFavwOYM8Enz.jpg,5dbdb8bfca835400145ef0b9,Editing,Editor
1,False,2,2293,Writing,Frank Miller,Frank Miller,5.796,/2eqqLG9Sv4i1ZlM14wY2LTTEbld.jpg,6224159ed185720044379cf7,Crew,Thanks
2,False,2,3794,Writing,Bob Kane,Bob Kane,6.854,/vuXwrlqaUydA4t5SFVdQkK9KsZL.jpg,5da60dba87e63e001739c2e7,Writing,Characters
3,False,2,10949,Production,Michael Uslan,Michael Uslan,1.856,/cXiiH0SSk5UHCvHOVAhHX7tNuls.jpg,5e307a3cfd140b00136d47f2,Production,Executive Producer
4,False,2,9546,Art,James Chinlund,James Chinlund,3.409,/lAi8BVuuzKrJWUqPTt3LnlDYSNU.jpg,5da45adee860170014b23409,Art,Production Design